[submodule "ideas/urweb-build/cake3"]
	path = ideas/urweb-build/cake3
	url = https://github.com/grwlf/cake3
[submodule "nixpkgs"]
	path = nixpkgs
	; url = git@github.com:grwlf/nixpkgs
	url = https://github.com/grwlf/nixpkgs
